<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MollyCafe</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>icon80</string>
				<string>icon58</string>
				<string>icon29</string>
				<string>icon114</string>
				<string>icon57</string>
				<string>icon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.nhuanquang.mollycafe</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HighlandCafe</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MainUrl</key>
	<string>http://customer.nhuanquang.com/mollycafe</string>
	<key>RootAccount</key>
	<string>molly.cafe</string>
	<key>UILaunchImageFile</key>
	<string>Default</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>isAtShop</key>
	<true/>
	<key>isBGWhite</key>
	<false/>
	<key>IP5ActivityFrame</key>
	<string>150,259,20,20</string>
	<key>IP4ActivityFrame</key>
	<string>150,229,20,20</string>
	<key>IP5ProgressBarFrame</key>
	<string>85,231,150,2</string>
	<key>IP4ProgressBarFrame</key>
	<string>85,201,150,2</string>
</dict>
</plist>
